@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@500;700&display=swap");

.registration-form-main-container {
  padding: 20px;
  background-color: #475d65;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  justify-items: center;
}

.registration-form-input {
  border-radius: 5px;
  border-color: transparent;
  background-color: white;
  outline: none;
  margin: 15px;
  height: 30px;
  width: 200px;
  font-family: "Work Sans", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #edfdfa inset !important;
}

.registration-form-button {
  color: #edfdfa;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  border: 1px solid #edfdfa;
  border-radius: 4px;
  width: 80px;
  height: 30px;
  margin: 20px 10px 10px 10px;
  padding: 5px 10px 5px 10px;
  outline: none;
}

.registration-form-button:hover {
  cursor: pointer;
  color: #edfdfa;
  background-color: #362c2b;
  transition-duration: 0.5s;
}

.registration-form-button:active {
  transform: translateX(5px);
}
